@using System.Web.Optimization;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/bootstrapcss")
    @Styles.Render("~/bundles/bootstrap-themecss")
    @Styles.Render("~/Content/sitecss")
    @RenderSection("pagecss", false)
</head>
<body>

    @Html.Partial("~/Views/Shared/_Navbar.cshtml")

    <div id="main-body">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jqueryjs")
    @Scripts.Render("~/bundles/bootstrapscripts")
    @RenderSection("scripts", false)

    @Html.Partial("~/Views/Shared/_GoogleAnalytics.cshtml")
</body>

</html>
