@using System.Web.Optimization;

<!DOCTYPE html>

<html>
<head>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />*@
    <meta name="viewport" content="width=device-width" />
    @* <link href="~/Content/Styles.css" rel="stylesheet" />*@
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css");
    @Scripts.Render("~/bundles/clientfeaturescripts");
    @RenderSection("Scripts", false);

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-70071836-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">TMElkins</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>

            </div>

        </div>
    </nav>


    <div id="main-body">
        @RenderBody()
    </div>


    @*<script src="~/Scripts/bootstrap.min.js"></script>*@


</body>


</html>
